.App {
  text-align: center;
  >main {
    display: flex;
    flex-wrap: wrap;
  }
}

.App-logo {

}

.App-header {

}

.App-link {
  color: #09d3ac;
}
.ShopCatalogItem img {
  width: 100px;
}
button:active,
input:active,
textarea:active {
    outline: 0;
}