.App {
  text-align: center;
  >main {
    display: flex;
    flex-wrap: wrap;
  }
}

.App-logo {

}

.App-header {

}

.App-link {
  color: #09d3ac;
}
.contentBlock {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  .sortingBlock {
    >* {
      margin: 0.5em;
    }
  }
}

button:active,
input:active,
textarea:active {
    outline: 0;
}