.AlertsBlock {
  position: fixed;
  bottom: 0;
  right: 0;
  span {
    display: block;
    padding: 1em;
    margin: 0.5em;
    border-radius: 2em;
    color: #333;
    &.GREEN {
      background: #00a9005c;
    }
    &.RED {
      background: #ff4b46;;
    }
  }

}