.checkoutBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    margin: 0.5em;
    padding: 0.5em;
    &[type="button"] {
      background: #ff4b46;
      border: none;
      padding: 0.5em 1em;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .alert {
    color: #ff4b46;
  }
}