.PageLimitButtons {
  button {
    margin: 0 0.5em;
    background: #ffbaba;
    border: none;
    padding: 0.5em 1em;
    &.active {
      background: #ff5454;
      color: #fff;
    }
  }
}
nav {
  ul {
    &.pagination {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li {
      list-style: none;
      &.page-item {
        &.active {
          font-weight: bold;
          font-size: 150%;
        }
      }
    }
  }

}